# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

   # Build output
   target/
   out/
   # IntelliJ
   .idea/
   *.iml
   # OS
   .DS_Store
   Thumbs.db